
.fade-in {
    width: 100px;
    height: 100px;
    background-color: brown;
    opacity: 0;
    transition: 0.3s;
}
.tip1:hover + .fade-in {
    opacity: 1;
}
.fade-out {
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    opacity: 1;
    transition: 0.3s;
}
.tip2:hover + .fade-out {
    opacity: 0;
}